# Project exclude paths
/.gradle/
target/
*.iml
.project
.classpath
.settings/
dependency-reduced-pom.xml
log/
.idea/
src/main/resources/META-INF/
out/
.gradle/
gradle
build
.idea
/gradlew.bat
/gradlew
lib
generated/
