<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="EN">
<head>
    <title>MovieNight</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'}">
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/fontawesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/templatemo-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/owl.css}">
</head>

<body class="is-preload" onload="showMessage()">

<div id="wrapper">

    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="/">MOVIE NIGHT</a>
                </div>
            </header>

            <div sec:authorize="!isAuthenticated()">
                <section class="left-image">
                    <div class="container-fluid">
                        <div class="row">
                            <h3 style="color: white">Вы не вошли в систему!</h3><h4><a href="/login"> Войти</a></h4>
                        </div>
                    </div>
                </section>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div class="primary-button">
                    <a th:href="@{/all-movies}">Вернуться</a>
                </div>
                <section class="left-image">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="right-content">
                                    <form action="#" th:action="@{/create-movie}" th:object="${movie}" method="post">
                                        <h4 style="color: #ae3c2c">Название (уникально):</h4>
                                        <input id="name" type="text" th:field="*{name}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Продолжительность:  (1 и больше минут)</h4>
                                        <input id="duration" type="number" th:field="*{duration}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Возраст:</h4>
                                        <input id="age" type="number" th:field="*{age}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Год выпуска:</h4>
                                        <input id="issue" type="number" th:field="*{issue}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Рейтинг (от 0 до 10):</h4>
                                        <input id="rating" type="text" th:field="*{rating}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Язык:</h4>
                                        <input id="language" type="text" th:field="*{language}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Описание:</h4>
                                        <input id="description" type="text" th:field="*{description}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Жанр (можно несколько и разделить через заяптую):</h4>
                                        <input id="genre" type="text" th:field="*{genre}" required/>
                                        <br>
                                        <br>
                                        <br>
                                        <h4 style="color: #ae3c2c">Трейлер:</h4>
                                        <input id="trailer" type="text" th:field="*{trailer}" required/>
                                        <div class="primary-button">
                                            <button type="submit">Создать</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <script th:inline="javascript">
                    function showMessage() {
                        if (window.location.search.indexOf('error') > -1) {
                            window.location.href = "#error";
                        }
                        if (window.location.search.indexOf('success') > -1) {
                            window.location.href = "#success";
                        }
                    }
                </script>

                <div id="error" class="overlay">
                    <div class="popup">
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p style="color: #f10606" th:value="${error}">Ошибка!</p>
                        </div>
                    </div>
                </div>
                <div id="success" class="overlay">
                    <div class="popup">
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p style="color: #1bc341">Успешно выполнено!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar">

        <div class="inner">
            <section id="search" class="alt">
            </section>

            <nav id="menu">
                <ul>
                    <!--       ADMIN             -->
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="/all-movies">Все фильмы</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Все пользователи</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Все организаторы</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Изменить пользователя</a></li>

                    <!--       USER             -->
                    <li sec:authorize="hasAuthority('USER')"><a href="/my-tickets">Мои билеты</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/career">Сотрудничество</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="#">Кто пойдет со мной?</a></li>

                    <!--       MANAGER             -->
                    <li sec:authorize="hasAuthority('MANAGER')"><a href="/all-movies">Все фильмы</a></li>
                    <li sec:authorize="hasAuthority('MANAGER')"><a href="#">Ползьователи по событию</a></li>

                    <!--       COMMON             -->
                    <li sec:authorize="isAuthenticated()"><a href="/about-me">Личный кабинет</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="#">Все события</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="http://localhost:8080">Чат</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/logout">Выход</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>

<script th:src="@{../static/js/browser.min.js}"></script>
<script th:src="@{../static/js/breakpoints.min.js}"></script>
<script th:src="@{../static/js/transition.js}"></script>
<script th:src="@{../static/js/owl-carousel.js}"></script>
<script th:src="@{../static/js/custom.js}"></script>>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
</body>

</html>
