<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="EN">
<head>
    <title>MovieNight</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css"
          th:href="@{'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700'}">
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/fontawesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/templatemo-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/owl.css}">
</head>
<body class="is-preload" onload="showMessage()">
<div id="wrapper">

    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="logo">
                    <a href="/">MOVIE NIGHT</a>
                </div>
            </header>

            <div sec:authorize="!isAuthenticated()">
                <section class="left-image">
                    <div class="container-fluid">
                        <div class="row">
                            <h3 style="color: white">Вы не вошли в систему!</h3><h4><a href="/login"> Войти</a></h4>
                        </div>
                    </div>
                </section>
            </div>

            <div sec:authorize="isAuthenticated()">
                <section class="left-image">
                    <div class="container-fluid">
                        <tr th:each="movie : ${singleMovie}">
                            <div class="row">
                                <div class="col-md-8">
<!--                                    <img th:src="@{singleMovie.image}"/>-->
                                    <img th:src="*{'data:image/jpeg;base64,'+ image}" alt="#" />
                                </div>
                                <div class="col-md-9">
                                    <div class="right-content">
                                        <br>
                                        <br>
                                        <h2 style="color: white">
                                            <td th:text="${singleMovie.name}"></td>
                                        </h2>
                                        <p>Продолжительность:
                                        <td th:text="${singleMovie.duration}"></td>
                                        мин</p>
                                        <p>Возраст:
                                        <td th:text="${singleMovie.age}"></td>
                                        +</p>
                                        <p>Год выпуска:
                                        <td th:text="${singleMovie.issue}"></td>
                                        </p>
                                        <p>Рейтинг:
                                        <td th:text="${singleMovie.rating}"></td>
                                        /10.0</p>
                                        <p>Язык:
                                        <td th:text="${singleMovie.language}"></td>
                                        </p>
                                        <p>Описание:
                                        <td th:text="${singleMovie.description}"></td>
                                        </p>
                                        <p>Трейлер: </p>
                                        <td>
                                            <iframe width="420" height="315"
                                                    th:src="'https://www.youtube.com/embed/' + ${singleMovie.trailer}"></iframe>
                                        </td>
                                        <br>
                                        <div class="primary-button">
                                            <a th:href="@{/all-movies}">Вернуться</a>
                                            <t>
                                                <t></t>
                                            </t>
                                            <a th:href="@{delete-movie(id=${singleMovie.id})}">Удалить</a>
                                            <t>
                                                <t></t>
                                            </t>
                                            <a th:href="@{update-movie(id=${singleMovie.id})}">Изменить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                        </tr>
                    </div>
                </section>
                <script th:inline="javascript">
                    function showMessage() {
                        if (window.location.search.indexOf('error') > -1) {
                            window.location.href = "#error";
                        }
                        if (window.location.search.indexOf('success') > -1) {
                            window.location.href = "#success";
                        }
                    }
                </script>

                <div id="error" class="overlay">
                    <div class="popup">
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p style="color: #f10606" th:value="${error}">Ошибка!</p>
                        </div>
                    </div>
                </div>
                <div id="success" class="overlay">
                    <div class="popup">
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p style="color: #1bc341">Успешно выполнено!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar">

        <div class="inner">
            <section id="search" class="alt">
            </section>

            <nav id="menu">
                <ul>
                    <!--       ADMIN             -->
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="/all-movies">Все фильмы</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Все пользователи</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Все организаторы</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Изменить пользователя</a></li>

                    <!--       USER             -->
                    <li sec:authorize="hasAuthority('USER')"><a href="/my-tickets">Мои билеты</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/career">Сотрудничество</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="#">Кто пойдет со мной?</a></li>

                    <!--       MANAGER             -->
                    <li sec:authorize="hasAuthority('MANAGER')"><a href="#">Ползьователи по событию</a></li>
                    <li sec:authorize="hasAuthority('MANAGER')"><a href="#">Все фильмы</a></li>

                    <!--       COMMON             -->
                    <li sec:authorize="isAuthenticated()"><a href="/about-me">Личный кабинет</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="#">Все события</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="http://localhost:8080">Чат</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/logout">Выход</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
<script th:src="@{../static/js/browser.min.js}"></script>
<script th:src="@{../static/js/breakpoints.min.js}"></script>
<script th:src="@{../static/js/transition.js}"></script>
<script th:src="@{../static/js/owl-carousel.js}"></script>
<script th:src="@{../static/js/custom.js}"></script>
</body>

</html>
